.header {
  font-size: 40px;
  padding-bottom: 40px;
  border-top: 20px;
}
* {
  font-family: sans-serif;
  margin: 0 10px 10px 10px;
}

p {
  color: red;
padding-bottom: 20px;
}

h2 {
  padding-top: 20px;

}
main div{

  padding-left: 20px;

}
body {
  padding: 0;
}

:root {
  color-scheme: normal;
}

#portfolio {
  font-family: sans-serif;
}
